input.ng-touched.ng-invalid.ng-dirty {
  border: solid red 1px;
}

div.ng-touched.ng-invalid.ng-dirty input.ng-touched.ng-dirty {
  border: solid red 1px;
}

.block{
  background-color: white;
  border: solid 1px rgb(200, 200, 200);
  border-radius: 0.5em;
  box-shadow: 3px 3px 5px rgb(200 200 200);
}