.carousel-container{
    
    margin: 0.5em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul.pagination-carousel{
    margin: 0;
    padding: 5px;
    text-align: center;
}

ul.pagination-carousel li{
    display: inline;
    margin: 0 0.5em;
}

ul.pagination-carousel li:hover{
    color: blue;
    text-decoration: underline;
    cursor: pointer;

}

.alert{
    margin: 2em auto;
    text-align: center;
}

.list-grid{

    margin-top: 1em;
    display: grid;
    grid-template-columns: 10% 80% 10%;

    grid-template-areas: ". center-col .";
}

.list-grid .center-col{
    grid-area: center-col;
}

.header{
    padding: 1em 0;
}

.block{
    background-color: white;
    border: solid 1px rgb(200, 200, 200);
    border-radius: 0.5em;
    box-shadow: 3px 3px 5px rgb(200 200 200);
}