<div id="popup" class="container-auto" [ngClass]="{visible: isVisible, invisible: !isVisible}">

    <form [formGroup]="form" (ngSubmit)="submit()" id="form" class="form-signin col-8" novalidate>
        <a (click)="close()" class="popup-close">X</a>
        <h2 class="form-signin-heading">Order</h2>
        <div class="form-block col-sm-14">
            <div class="alert alert-info form-block" >
                <h4 [ngStyle]="{'margin-bottom': 0}" >Cost: ${{cost}}</h4>
            </div>
        </div>
        <div class="form-block col-sm-14">
            <div class="alert alert-danger form-block" role="alert" #alertCommonDiv hidden>
            </div>
        </div>
        <div class="form-block col-sm-14">
            <div id="AlertOrderForm" class="alert alert-danger form-block" role="alert" #alertAddressDiv hidden>
            </div>
        </div>
        <div class="form-row">
            <label for="Name" class="col-sm-2 col-form-label">Address:</label>
            <div class="col-sm-10">
                <input  formControlName="Address" (ngModelChange)="addressChange()" type="text" name="Address" class="input-block-level form-control" placeholder="?" required>
            </div>
        </div>
        <br>
        <input type="submit" [disabled]="form.invalid" class="btn btn-large btn-success" value="Submit">

    </form>

</div>